@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

body{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 5fr;
    grid-template-areas: 
    "aside header"
    "aside main";
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif,system-ui; 
}
aside{
    grid-area: aside;
    background-color:#38bdf8;
    color: #FFFF;
    display: flex;
    flex-direction: column;
    gap: min(1rem,2vh);
    padding: 1rem;
}
aside .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    color:#FFFF;
}
.logo > #dashboard-icon{
    font-size: 50px;
}
.dashboard-panel > ul{
    list-style: none;
    padding: 0;
}
.dashboard-panel > ul > li > a {
    text-decoration: none;
    color: #FFFF;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.dashboard-panel > ul > li {
    display: flex;
    align-items: flex-end;
    column-gap: 1rem;
    margin: 0.5rem;
}
.logo h1{
    font-weight: 500;
}
header{
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0px 3px 2px -1px #ccc;
}
header .section-header{
    display: flex;
    justify-content: space-between;
    
}
.section-header .left{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}
.section-header .left .welcome-text{
    display: flex;
    flex-direction: column;
    gap:1px;
}
.welcome-text p{
    font-weight: 500;
}
.welcome-text h2{
    font-weight: 500;
}
.welcome-text p,h2{
    padding: 0;
    margin: 0;
}
.section-header .right{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}
.section-header .right p{
    font-weight: 500;
}
#user-img-right{
    width: 50px;
    height: 50px;
}
#user-img-left{
    width: 70px;
    height: 70px;
}
input[type="text"]{
    appearance: none;
    border: none;
    background-color: #d1d5db;
    width: 300px;
    height: 25px;
    border-radius: 1rem;
    padding-left: 1rem;
}
input[type="button"]{
    appearance: none;
    border: none;
    background-color: #38bdf8;
    width: 90px;
    height: 35px;
    border-radius: 1.5rem;
    color: #FFFF;
    font-weight: 500;
}
main{
    grid-area: main;
}
